<head>
<%= render 'navbar'%>
</head>

<body class="page-body">
  <div class="container" id="MainBackground">
    <%= render 'slide.show' %>
    <div class="Newest-events">
      <!--<img class="line-left" src="https://res.cloudinary.com/titavon/image/upload/v1616041002/Vector_skcfto.png">-->
      <h2>Newest Events</h2>
      <!--<img class="line-right" src="https://res.cloudinary.com/titavon/image/upload/v1616041002/Vector_skcfto.png">-->
      <div class="comtainer-events d-flex justify-content-center">
        <img src="https://res.cloudinary.com/titavon/image/upload/v1616028678/dresdner-altstadt_umb8qp.jpg" class="rounded float-left" alt="...">
        <img src="https://res.cloudinary.com/titavon/image/upload/v1616028678/dresdner-altstadt_umb8qp.jpg" class="rounded float-center" alt="...">
        <img src="https://res.cloudinary.com/titavon/image/upload/v1616028678/dresdner-altstadt_umb8qp.jpg" class="rounded float-right" alt="...">
      </div>
    </div>
    <div class="Highlights">
      <h2>Highlights<h2>
      <div class="highlight-container">
        <img src="https://res.cloudinary.com/titavon/image/upload/v1616028678/dresdner-altstadt_umb8qp.jpg" class="Round-Picture" alt="...">
      </div>
    </div>
  </div>
</body>
